body {
    background-color: black;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

main {
    height: 100vh;
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*So funny thing happened here. I spent about an hour trying to make a SVG for the "j" logo 
then realized I can use css to make one with a cool text shadow, 
so I did it in 5 minutes. pain.*/
.logo {
    
    text-shadow: 5px 5px rgb(127, 252, 255), 10px 10px rgb(255, 65, 58);
    font-size: 150px;
    color: white;

    font-family: 'Open Sans', sans-serif;

    transform: rotate(-20deg);
}
.text-container {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: white;
    padding-top: 4em;
}

.info-hero-section {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;

}

.info-hero-section p {
    border-bottom: solid 2px rgb(127, 252, 255);
    padding-bottom: 1em;
}

.crazy-header {
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-family: "Open Sans", sans-serif;
    text-shadow: 5px 5px rgb(127, 252, 255), 10px 10px rgb(255, 65, 58);
}
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-container-2 {
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    padding: 2em;
}

.my-work {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 5px rgb(127, 252, 255);

    font-family: "Raleway", sans-serif;
    font-size: 25px;
}
.project-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

ul li a {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}
li {
    list-style-type: none;
}

.fa-java {
    color: white;
}